{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Game Collector</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>

<body>

    <nav>
        <ul>
            <li><a href="{% url 'console-list' %}">Consoles</a></li>
            <li><a href="{% url 'game-search' %}">Add Games</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

</body>

</html>